In [69]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [47]:
# Cargar datasets
train_reviews = pd.read_csv("../data/train_reviews.csv")
usuarios = pd.read_csv("../data/usuarios.csv")
negocios = pd.read_csv("../data/negocios.csv")

/var/folders/mx/md71j6pn00l970kj45sznh5h0000gn/T/ipykernel_38479/1464626088.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  usuarios = pd.read_csv("../data/usuarios.csv")

In [48]:
train_reviews.sample(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
327414,IDq590_MMMW0I_8IujgVJA,LmKtlabxlvt8Jv2g7j-CDQ,r927Gq5XfO1lCPkbhc83_A,5.0,0,0,0,"It appears that there has been a change, here....",2016-08-08 00:46:33
341607,wImM4zwbY7irfRj2DneuzQ,H4owREhoZHek7rZO1mfM6A,QO2DrPQFAIE-urVHkAXd6w,4.0,1,0,0,Ordered delivery and got it very quickly. Food...,2020-05-17 12:58:26
281403,whQxiHd2BaqJWwPKW7qu4A,K_swqiLT2fdvy47VRXsEXQ,rdc5LS5MnZUO_nh-4fOflg,3.0,2,2,0,*** Note: the experience with the masseurs wou...,2016-12-04 20:12:18
600308,OYSdB2poSxsIGgLeXzQkVQ,N3i_00jna1tpAqvqXaOPJg,JL9BqMNHZmxa9omybAk4jA,5.0,1,1,0,My husband and I have used Coastal Hideaways o...,2013-05-20 18:11:54
492917,atvUQK2LT2ovPtkwelcw2A,lQdlhI_FDj8HrYdhQp0ReQ,M2ffQ7_fv-XRnwYr7h4zZw,1.0,4,0,0,I would not recommend this place to anyone. Ve...,2014-05-12 02:59:19

In [49]:
train_reviews.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [50]:
usuarios.sample(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
562072,djl9PRe8xUBuuDGG138isQ,Becky,8,2018-07-30 14:21:47,1,0,0,NaN,NaN,0,4.25,0,0,0,0,0,0,0,0,0,0,0
242329,VElEttJY3FprXmjEwc9H0A,Krysten,38,2010-03-27 20:59:27,29,7,9,NaN,"138nk-7zh-5x5OFQ-PlEfQ, rNjIa_i2kqcTWSSQBMtqrw...",0,4.25,0,1,0,0,0,0,0,0,0,0,0
317430,uorJsqXdmfK-auPlhjwFBw,Jesse,44,2009-02-10 05:52:24,25,10,12,NaN,mwNQnqn4E_mUIM4uZC6_jw,0,3.50,0,1,0,0,0,0,0,0,0,0,0
645377,VyKJj-ndLCVbkAIIKWvY8Q,Sharon,2,2017-10-01 13:36:30,1,0,1,NaN,NaN,0,3.00,0,0,0,0,0,0,0,0,0,0,0
245592,_TxDstCVhD77LiFiH-ZQRg,Tony,21,2014-01-22 21:55:50,18,10,6,NaN,"CxDk9I6JsH479sPHc07avA, VLirAr3Kpd6m8-LqIw3jqQ...",0,3.65,0,0,0,0,0,0,1,0,0,0,0

In [75]:
usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699619 entries, 0 to 699618
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             699619 non-null  object
 1   name                699607 non-null  object
 2   review_count        699619 non-null  int64
 3   yelping_since       699619 non-null  datetime64[ns]
 4   useful              699619 non-null  int64
 5   funny               699619 non-null  int64
 6   cool                699619 non-null  int64
 7   elite               55411 non-null   object
 8   friends             427407 non-null  object
 9   fans                699619 non-null  int64
 10  average_stars       699619 non-null  float64
 11  compliment_hot      699619 non-null  int64
 12  compliment_more     699619 non-null  int64
 13  compliment_profile  699619 non-null  int64
 14  compliment_cute     699619 non-null  int64
 15  compliment_list     699619 non-null  int64
 16  compliment_note     699619 non-null  int64
 17  compliment_plain    699619 non-null  int64
 18  compliment_cool     699619 non-null  int64
 19  compliment_funny    699619 non-null  int64
 20  compliment_writer   699619 non-null  int64
 21  compliment_photos   699619 non-null  int64
 22  yelping_year        699619 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(16), object(4)
memory usage: 120.1+ MB

In [67]:
for col in usuarios.columns:
    print(usuarios[col].value_counts())

user_id
qVc8ODYU5SZjKXVBgXdI7w    1
iA1B6ah5sCh7jEwj6Ai95w    1
Y8MQz8P697xRyIGaEe4yKg    1
LQBe62Qq3cvLqsGJaEF5Rw    1
TC4aD5qZtE5oc72sSvwfOg    1
                         ..
SUokZE-eIboa2-GrO9rZVg    1
kjrFvGQnQwOWiA5u5XskHA    1
4LLGhrsgy65kcpIuiVEgmg    1
M2zqfnBr2EUI28y8aVRGng    1
wL5jPrLRVCK_Pmo4lM1zpA    1
Name: count, Length: 699619, dtype: int64
name
John       6435
Michael    5849
David      5611
Chris      5289
Mike       4795
           ...
A Kate        1
Vil           1
Bethani       1
Efa           1
Gwendy        1
Name: count, Length: 61409, dtype: int64
review_count
1       68946
2       59690
3       51296
4       42746
5       35944
        ...
1597        1
1375        1
1895        1
1017        1
2030        1
Name: count, Length: 1924, dtype: int64
yelping_since
2019-03-05 00:10:27    3
2015-07-08 23:52:22    2
2011-12-30 15:36:34    2
2014-07-03 19:01:30    2
2018-01-02 23:24:32    2
                      ..
2011-03-06 18:49:18    1
2009-06-05 04:34:16    1
2011-10-28 05:58:24    1
2011-07-31 20:26:36    1
2020-12-19 02:32:39    1
Name: count, Length: 698663, dtype: int64
useful
0        130755
1         74078
2         51476
3         39197
4         31226
          ...
24334         1
2143          1
4878          1
3273          1
3297          1
Name: count, Length: 4701, dtype: int64
funny
0        319269
1         98177
2         52547
3         33677
4         23699
          ...
11753         1
2070          1
1856          1
2642          1
2719          1
Name: count, Length: 3228, dtype: int64
cool
0        296010
1         99904
2         54001
3         34833
4         24691
          ...
3037          1
1287          1
13141         1
5177          1
3296          1
Name: count, Length: 3920, dtype: int64
elite
2019,20,20,2021                                                      4838
2018,2019,20,20,2021                                                 4151
2017,2018,2019,20,20,2021                                            3205
2021                                                                 3072
20,20,2021                                                           2864
                                                                     ...
2009,2010,2016,2017,2018,2019,20,20,2021                                1
2008,2009,2010,2011,2013,2014,2015,2016,2017,2018,2019,20,20,2021       1
2010,2011,2012,2013,2014,2015,2016,2017,2019,2021                       1
2006,2009,2010,2011,2012                                                1
2008,2009,2013,2014,2015                                                1
Name: count, Length: 1102, dtype: int64
friends
WwulXySQN8t2hwqH_yWurA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    438
vHc-UrI9yfL_pnnc6nJtyQ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    314
6jjHo9Lilv3kTy87pm2ycw                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    158
qT1-N9hjbyjMW4Mvq4uU4w                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    119
kTpsjDUhl9BlRl0FVuNreA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    118
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
OX6MXoaU9J4GHBvxVWYkyQ, 417svAEVHreK6c3SK4M8Tw, wxuVZTfo1pThbqfzz97uLg, MSNifkZrO6k9l58mpV4kTw, aDEQTk-GzjYug7xrwkollw, 5QnU3EL_dL202lxKT2vGfA, bMK6giajaU2RuwCD7XZMYw, 2MZedes7DIOAZz0tzf0jCg, HXwc6YOOq6hcZl0ovFeHiQ, HTUMKT13YSJLsi3P0TA6UA, HXOfPXPMvdXNpQ_l0RRjKw, 0z6Bp7siNkijAsRUVbqQpw, oz2ak-LBM86TrqmavZKW8Q, eAYyPwGQ-Am-sOvCHI8Hqw, a85qPvr6L63PF0v9Zs8ZAg, cEsxmJlBvSLcx55qQLRx1w, 7rpR3vctJHloWVYMWsZ4kg, hBd56MQzx6Q9L2FurGuQ3w, Wg6jfZIGsB1HTZnbuFNVhg, aO6wUyg0CE_BI2BlYGx77w, 8Qi8U3LjOCuKM4rvIK7Qtg, ckxopNOIs8vfKk6C96IxFQ, RfGDUBI90G3O_c7r3pwrwg, jYowMfO4Gzh_kuwgFS_oyA, LhQVP8v4waUhOssPISCPug, aoi9zYDw3lIVLfF8MYcjHA, Hj4rNPtiKsWmZ-y-7cHlTw, wZ6x5O_slFN_mp9r98yj3g, BvU-zenvj604rwgNiqxDcA, FtjawCn6w6VrjNVMQdb0pg, InInjzaZxzQ8_suxZEAP5g, Qs_MYKfkw4dASKgG7rWeLg, DPzchvKxid1XL6-XA6wzQw, t2XuJjp_h9aRn-8ANoyc_Q, fFRvU7E8PP1HredH40c6dw, 1RAn7ayZI6aKZ4AFfpuPIA, V__5HNJpnGN0N3FCleuTkA, I8xN8C1vG4OePwwWqNqWtw, 6ZGzPUa_D_G2kaYwFBnbkw, Ecct9zohQrsp6ZsT7NbY3Q, DIckqqZNAQwL5ySdqWIJyw, MODwhBRQ_d3x7h3NiYqDDw, ZkXrVDMImSPoXn54fj3QHg      1
gfH6nzxoyGOoydOtjGwg7Q, XcXIwdkITvPWqaGWufwIeQ, wuuio1o4zei58TrvBINjEg, gYrUkgI0AohZiJ96zbmvEw, gqBvaj7VRofcWVOY30jVCA, JLt1rsd9NPaqd3Eic-AMNQ, kJuZQV7A6t3zwc3m4Lr3Eg, ofOVmrbdsDOZHJjmPQfbyA, KZHc779ifUC7Y_oVTvUylw, WBDUvxWu0i4O8tQCberv9A, yV2sYmA8P_DKD1EPQHsTdA, jYnlDcQWNogHnnXTEQaYkQ, jqdemoHSLZy_WEnbi2kFhw, aD3zjU1c9cfD4AkTIEgAiA, KGn3l47IiitvynizrGbYtA, stbn7Up9H6IpBLqeLMPkuw, hg4qd-0rkowiGAHaxz6rtw, Xg966xrRsQacRyJJFGCusA, XmkJ4OkuK3wyhYi_MmIedQ, koU-UZiT_DhCoacXxphytg, vtYNXZ9x4y3sOUpaBxlPvw, riZaE-zOt4YNPFxgM3Oabg, 6epaDdxP6aTZnkxb_7lRzQ, RsraRJx4MrQrKQu75keCMA, _y8sZvJuPVePCNhTgTZBtQ, Nx1wUfB5wRNqEkcvwTETOA                                                                                                                                                                                                                                                                                                                                                                                                                              1
OEum_3i2yFitOmJngCtHqg                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
2hN8--CYSQ-YP7FxVwYMkA, sLgekUp1uedWpnDsztvkVw, 417svAEVHreK6c3SK4M8Tw, V3XYG1zKuW8VUBNtjacoxA, I-wq3PJNBlaZ8tpi0SdS8A, Htn0zMg5jDBhp-TRx1dBUg, S6UzknYCErhDY2twhaX2BQ, VscGjHhGFlshIJQ4KNx7xw                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
rKbbXX_s5A0E2BUJqGFb3Q                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1
Name: count, Length: 421164, dtype: int64
fans
0       507238
1        83433
2        30097
3        15447
4         9758
         ...
3642         1
810          1
527          1
1409         1
850          1
Name: count, Length: 645, dtype: int64
average_stars
5.00    88463
1.00    36683
4.00    32594
3.00    30940
3.67    16006
        ...
1.49        5
1.51        5
1.34        4
1.03        2
1.01        1
Name: count, Length: 400, dtype: int64
compliment_hot
0       617086
1        33514
2        11660
3         6082
4         4113
         ...
1056         1
2295         1
2522         1
3131         1
978          1
Name: count, Length: 1097, dtype: int64
compliment_more
0       620759
1        43705
2        12735
3         6435
4         3845
         ...
1558         1
735          1
357          1
431          1
579          1
Name: count, Length: 301, dtype: int64
compliment_profile
0      663429
1       21144
2        5849
3        2657
4        1448
        ...
230         1
175         1
307         1
359         1
269         1
Name: count, Length: 302, dtype: int64
compliment_cute
0       677172
1        12727
2         3360
3         1490
4          918
         ...
263          1
123          1
1622         1
203          1
406          1
Name: count, Length: 263, dtype: int64
compliment_list
0      689075
1        5109
2        1533
3         853
4         490
        ...
150         1
98          1
164         1
81          1
264         1
Name: count, Length: 173, dtype: int64
compliment_note
0       541261
1        73974
2        24884
3        12347
4         7462
         ...
3805         1
1132         1
820          1
790          1
602          1
Name: count, Length: 886, dtype: int64
compliment_plain
0       533102
1        76154
2        25909
3        12861
4         7876
         ...
1189         1
3017         1
1556         1
930          1
491          1
Name: count, Length: 1420, dtype: int64
compliment_cool
0       574526
1        50227
2        17317
3         9307
4         6162
         ...
2673         1
720          1
1020         1
2082         1
5818         1
Name: count, Length: 1360, dtype: int64
compliment_funny
0       574526
1        50227
2        17317
3         9307
4         6162
         ...
2673         1
720          1
1020         1
2082         1
5818         1
Name: count, Length: 1360, dtype: int64
compliment_writer
0       593630
1        47050
2        15594
3         7908
4         5071
         ...
2835         1
812          1
1142         1
994          1
4547         1
Name: count, Length: 727, dtype: int64
compliment_photos
0        631228
1         31086
2         10559
3          5603
4          3507
          ...
1240          1
494           1
552           1
56104         1
3776          1
Name: count, Length: 852, dtype: int64

In [51]:
usuarios.isnull().sum()

user_id                    0
name                      12
review_count               0
yelping_since              0
useful                     0
funny                      0
cool                       0
elite                 644208
friends               272212
fans                       0
average_stars              0
compliment_hot             0
compliment_more            0
compliment_profile         0
compliment_cute            0
compliment_list            0
compliment_note            0
compliment_plain           0
compliment_cool            0
compliment_funny           0
compliment_writer          0
compliment_photos          0
dtype: int64

In [55]:
new_usuarios = usuarios.drop(columns=["elite", "friends", "name"]) # ?
new_usuarios.columns

Index(['user_id', 'review_count', 'yelping_since', 'useful', 'funny', 'cool',
       'fans', 'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos'],
      dtype='object')

In [78]:
from sklearn.preprocessing import StandardScaler

compliment_cols = [col for col in new_usuarios.columns if col.startswith("compliment_")]

scaler = StandardScaler()

new_usuarios[compliment_cols] = scaler.fit_transform(new_usuarios[compliment_cols])

new_usuarios[compliment_cols].describe()

,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
count,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05,6.996190e+05
mean,1.543733e-18,4.874946e-19,-5.585876e-19,-3.331213e-18,3.158559e-18,-5.382753e-18,-2.315600e-18,1.340610e-18,1.340610e-18,5.565564e-18,-2.274975e-18
std,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00
min,-3.189654e-02,-2.638549e-02,-1.460309e-02,-1.342202e-02,-7.924963e-03,-2.843689e-02,-3.237663e-02,-3.872763e-02,-3.872763e-02,-4.267435e-02,-1.664385e-02
25%,-3.189654e-02,-2.638549e-02,-1.460309e-02,-1.342202e-02,-7.924963e-03,-2.843689e-02,-3.237663e-02,-3.872763e-02,-3.872763e-02,-4.267435e-02,-1.664385e-02
50%,-3.189654e-02,-2.638549e-02,-1.460309e-02,-1.342202e-02,-7.924963e-03,-2.843689e-02,-3.237663e-02,-3.872763e-02,-3.872763e-02,-4.267435e-02,-1.664385e-02
75%,-3.189654e-02,-2.638549e-02,-1.460309e-02,-1.342202e-02,-7.924963e-03,-2.843689e-02,-3.237663e-02,-3.872763e-02,-3.872763e-02,-4.267435e-02,-1.664385e-02
max,2.346407e+02,6.679597e+02,5.935675e+02,7.479935e+02,7.710087e+02,6.046666e+02,5.502222e+02,3.527474e+02,3.527474e+02,3.314541e+02,5.554265e+02

In [85]:
from sklearn.preprocessing import StandardScaler

compliment_cols = ["review_count", "useful", "funny", "cool", "fans"]

scaler = StandardScaler()

new_usuarios[compliment_cols] = scaler.fit_transform(new_usuarios[compliment_cols])

new_usuarios[compliment_cols].describe()

       review_count        useful         funny          cool          fans
count  6.996190e+05  6.996190e+05  6.996190e+05  6.996190e+05  6.996190e+05
mean  -1.592482e-17 -5.281192e-19  3.412462e-18 -1.425922e-17  3.412462e-18
std    1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00
min   -3.047548e-01 -7.761433e-02 -5.155727e-02 -5.326116e-02 -9.224837e-02
25%   -2.801503e-01 -7.661663e-02 -5.155727e-02 -5.326116e-02 -9.224837e-02
50%   -2.309414e-01 -7.262584e-02 -4.996237e-02 -5.212889e-02 -9.224837e-02
75%   -9.151607e-02 -5.566497e-02 -4.517766e-02 -4.759982e-02 -5.714961e-02
max    1.429998e+02  2.057435e+02  2.963183e+02  2.262622e+02  4.385369e+02

In [87]:
new_usuarios['yelping_since'] = pd.to_datetime(usuarios['yelping_since'], errors='coerce')

new_usuarios['yelping_since'] = new_usuarios['yelping_since'].dt.year

new_usuarios['yelping_since'].value_counts()

yelping_since
2015    86327
2014    84032
2013    77842
2012    74207
2016    72077
2011    67727
2017    48702
2010    43511
2018    41295
2019    30608
2009    26512
2020    13342
2008    13234
2021    10252
2007     6502
2006     2407
2022      586
2005      424
2004       32
Name: count, dtype: int64

In [88]:
new_usuarios.sample(5)

,user_id,review_count,yelping_since,useful,funny,cool,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,yelping_year
450297,jRs7sZ8Btc7iSVGtS4v73A,-0.189934,2014,-0.063647,-0.048367,-0.049864,-0.092248,3.13,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.028437,-0.026934,-0.038728,-0.038728,-0.042674,-0.016644,2014
225898,Pc4dRFZbbJ0zVrGGf3FW9A,0.392372,2009,0.009185,0.026593,-0.002309,0.153443,4.31,-0.022795,0.072568,0.027257,-0.013422,-0.007925,0.094487,0.005723,-0.003426,-0.003426,-0.021870,-0.009922,2009
577709,tC5uHDZMlQMMmUg_9B8ZcQ,-0.058710,2014,-0.063647,-0.049962,-0.047600,0.013048,5.00,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.018193,-0.032377,-0.038728,-0.038728,-0.042674,-0.016644,2014
625167,67eqz5qA1gorCfFqxZIM0Q,-0.280150,2015,-0.076617,-0.051557,-0.053261,-0.092248,3.67,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.028437,-0.032377,-0.038728,-0.038728,-0.042674,-0.016644,2015
166576,lu5-kt2uTFjBZ5vmO2fzHA,0.679424,2012,-0.047683,-0.041988,-0.048732,0.048147,4.16,-0.013694,-0.026385,-0.014603,-0.013422,-0.007925,-0.028437,-0.026934,-0.038728,-0.038728,-0.021870,-0.016644,2012

In [59]:
negocios.sample(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
10024,NbvdPObYtQFllr8uWAf8Hg,S&H Campground,2573 W 100th N,Greenfield,IN,46140,39.797313,-85.852662,2.5,20,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","RV Rental, Hotels & Travel, Auto Repair, Campg...","{'Monday': '10:0-15:0', 'Tuesday': '10:0-15:0'..."
16060,SYUQszRZ3esG5FuETT9m8A,Jersey Mike's Subs,247 West Main St,Hendersonville,TN,37075,36.303742,-86.620637,2.5,17,1,"{'Caters': 'True', 'RestaurantsGoodForGroups':...","Delis, Sandwiches, Restaurants, Fast Food","{'Monday': '0:0-0:0', 'Tuesday': '10:0-21:0', ..."
6886,8riD51FXHkEzlgOE0QYB7Q,Coutelier Nola,8239 Oak St,New Orleans,LA,70118,29.948904,-90.131214,4.5,22,1,{'BusinessAcceptsCreditCards': 'True'},"Local Services, Knife Sharpening",NaN
10598,QtYVt1X2clFJlpkBah8c7A,west elm,1330 Chestnut St,Philadelphia,PA,19107,39.950638,-75.163154,2.5,76,1,"{'BusinessParking': ""{'garage': False, 'street...","Home & Garden, Furniture Stores, Rugs, Shoppin...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-18:0', ..."
20637,PJvCgnr28Eppcv05LmvKng,Sephora - Santa Barbara,701 Paseo Nuevo,Santa Barbara,CA,93101,34.419242,-119.700678,3.5,89,1,"{'BusinessParking': ""{'garage': True, 'street'...","Skin Care, Cosmetics & Beauty Supply, Shopping...","{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'..."

In [89]:
negocios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30069 entries, 0 to 30068
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   30069 non-null  object
 1   name          30069 non-null  object
 2   address       29068 non-null  object
 3   city          30069 non-null  object
 4   state         30069 non-null  object
 5   postal_code   30057 non-null  object
 6   latitude      30069 non-null  float64
 7   longitude     30069 non-null  float64
 8   stars         30069 non-null  float64
 9   review_count  30069 non-null  int64
 10  is_open       30069 non-null  int64
 11  attributes    27300 non-null  object
 12  categories    30052 non-null  object
 13  hours         25381 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 3.2+ MB

In [94]:
for col in negocios.columns:
    print(negocios[col].value_counts())

business_id
GDEEPQdYs2utMN-R4znZSA    1
zi23F23_8ao4Gz1Ecj5ywA    1
ldPcDAa_u66jQINDlutTsQ    1
9SP-J_N2DV_Dodg1VxnXoQ    1
HF9LX5776QYYK70tyIL8gw    1
                         ..
d-2fDzziIxhbDn3tzH9GTg    1
-muLz726oAXME0r6nAm4WA    1
Qp5m70lC2KorILVRdpeR0g    1
ul97zyH40F8OMTwRIgJqDQ    1
5mDnmxXBbVuNagxyyNENoQ    1
Name: count, Length: 30069, dtype: int64
name
McDonald's              158
Starbucks               143
Dunkin'                 102
Walgreens                89
Subway                   87
                       ...
GA Foods                  1
Fuzzy's Taco Shop         1
Tampa Tattoo              1
Reno Buggie Barn          1
Old Cedar Campground      1
Name: count, Length: 25117, dtype: int64
address
160 N Gulph Rd                    20
51 N 12th St                      16
1 Terminal Dr                     10
2223 N Westshore Blvd             10
6901 22nd Ave N                    8
                                  ..
2815 Lebanon Pike                  1
123 Nutt Rd                        1
100 N18th St                       1
1330 Burlington Ave N, Ste - 1     1
274 Richwood Rd                    1
Name: count, Length: 27639, dtype: int64
city
Philadelphia        2938
Tucson              1817
Tampa               1779
Indianapolis        1500
Nashville           1369
                    ...
S.Pasadena             1
Lake Saint Louis       1
Marlborough            1
Meridan                1
East Nashville         1
Name: count, Length: 776, dtype: int64
state
PA    6852
FL    5226
TN    2363
IN    2231
MO    2152
LA    2044
AZ    1952
NJ    1788
NV    1555
AB    1155
CA    1055
ID     881
DE     436
IL     376
WA       1
CO       1
VI       1
Name: count, dtype: int64
postal_code
93101      366
89502      352
70130      337
19107      266
19103      266
          ...
T5S 1G4      1
T6K 3Z3      1
T5T 4W4      1
92260        1
62558        1
Name: count, Length: 1667, dtype: int64
latitude
34.420334    30
34.420831    21
39.483565    14
39.953187    10
32.324742    10
             ..
27.951741     1
39.987645     1
39.822238     1
34.417901     1
39.644084     1
Name: count, Length: 29001, dtype: int64
longitude
-119.710749    30
-119.698190    21
-119.731021    16
-75.174967     13
-110.929997    13
               ..
-74.996612      1
-86.758332      1
-82.792156      1
-75.442712      1
-75.165289      1
Name: count, Length: 28728, dtype: int64
stars
4.0    6221
4.5    5409
3.5    5282
3.0    3684
5.0    3235
2.5    2842
2.0    1998
1.5     991
1.0     407
Name: count, dtype: int64
review_count
5       2995
6       2323
7       1968
8       1593
9       1417
        ...
695        1
7568       1
417        1
807        1
1682       1
Name: count, Length: 674, dtype: int64
is_open
1    23932
0     6137
Name: count, dtype: int64
attributes
{'BusinessAcceptsCreditCards': 'True'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1884
{'ByAppointmentOnly': 'True'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               332
{'BusinessAcceptsCreditCards': 'True', 'ByAppointmentOnly': 'False'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        297
{'ByAppointmentOnly': 'True', 'BusinessAcceptsCreditCards': 'True'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         290
{'BusinessAcceptsCreditCards': 'True', 'ByAppointmentOnly': 'True'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         272
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ...
{'BikeParking': 'True', 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}", 'RestaurantsGoodForGroups': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}", 'BusinessAcceptsCreditCards': 'True', 'RestaurantsPriceRange2': '2', 'OutdoorSeating': 'None', 'Alcohol': "'none'", 'RestaurantsTakeOut': 'True', 'DriveThru': 'False', 'HasTV': 'True', 'RestaurantsTableService': 'True', 'RestaurantsReservations': 'False', 'WiFi': "'no'", 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': True, 'brunch': False, 'breakfast': False}", 'RestaurantsDelivery': 'True', 'GoodForKids': 'True', 'RestaurantsAttire': "'casual'"}                    1
{'RestaurantsPriceRange2': '1', 'WheelchairAccessible': 'True', 'BusinessAcceptsCreditCards': 'True', 'RestaurantsDelivery': 'True', 'RestaurantsTakeOut': 'True'}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
{'HasTV': 'True', 'NoiseLevel': "'average'", 'Alcohol': "u'full_bar'", 'Caters': 'False', 'OutdoorSeating': 'True', 'RestaurantsReservations': 'False', 'RestaurantsAttire': "u'casual'", 'RestaurantsPriceRange2': '2', 'RestaurantsTakeOut': 'True', 'RestaurantsGoodForGroups': 'True', 'GoodForKids': 'False', 'WiFi': "u'free'", 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}", 'RestaurantsDelivery': 'True', 'HappyHour': 'True', 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}", 'BikeParking': 'True', 'DogsAllowed': 'False', 'GoodForMeal': "{u'breakfast': None, u'brunch': None, u'lunch': None, u'dinner': True, u'latenight': None, u'dessert': False}"}             1
{'RestaurantsGoodForGroups': 'True', 'BusinessAcceptsCreditCards': 'True', 'Alcohol': "u'full_bar'", 'RestaurantsReservations': 'True', 'GoodForKids': 'True', 'RestaurantsDelivery': 'False', 'OutdoorSeating': 'True', 'NoiseLevel': "u'average'", 'RestaurantsTakeOut': 'True', 'HasTV': 'True', 'BikeParking': 'True', 'RestaurantsPriceRange2': '2', 'HappyHour': 'True', 'RestaurantsAttire': "'casual'", 'GoodForMeal': "{'dessert': False, 'latenight': None, 'lunch': None, 'dinner': True, 'brunch': False, 'breakfast': False}", 'Caters': 'True', 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}", 'WiFi': "u'no'"}       1
{'BikeParking': 'True', 'BusinessAcceptsCreditCards': 'True', 'ByAppointmentOnly': 'True', 'WheelchairAccessible': 'True', 'WiFi': "u'free'", 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}", 'NoiseLevel': "u'quiet'"}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Name: count, Length: 18927, dtype: int64
categories
Beauty & Spas, Nail Salons                                                                                                                       217
Restaurants, Pizza                                                                                                                               181
Nail Salons, Beauty & Spas                                                                                                                       178
Chinese, Restaurants                                                                                                                             157
Restaurants, Mexican                                                                                                                             155
                                                                                                                                                ...
American (Traditional), American (New), Hot Dogs, Burgers, Restaurants                                                                             1
Dry Cleaning & Laundry, Local Services, Carpet Cleaning, Home Cleaning, Office Cleaning, Professional Services, Home Services, Window Washing      1
Waffles, Japanese, Food Trucks, Restaurants, Food, Ramen                                                                                           1
Formal Wear, Plus Size Fashion, Men's Clothing, Shopping, Fashion                                                                                  1
Hotels & Travel, Campgrounds                                                                                                                       1
Name: count, Length: 19690, dtype: int64
hours
{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'Wednesday': '0:0-0:0', 'Thursday': '0:0-0:0', 'Friday': '0:0-0:0', 'Saturday': '0:0-0:0', 'Sunday': '0:0-0:0'}                  1341
{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', 'Wednesday': '8:0-17:0', 'Thursday': '8:0-17:0', 'Friday': '8:0-17:0'}                                                          393
{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', 'Wednesday': '9:0-17:0', 'Thursday': '9:0-17:0', 'Friday': '9:0-17:0'}                                                          314
{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-22:0', 'Saturday': '11:0-22:0', 'Sunday': '11:0-21:0'}     118
{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22:0', 'Thursday': '11:0-22:0', 'Friday': '11:0-22:0', 'Saturday': '11:0-22:0', 'Sunday': '11:0-22:0'}     116
                                                                                                                                                                             ...
{'Monday': '9:0-22:0', 'Tuesday': '9:0-22:0', 'Wednesday': '9:0-22:0', 'Thursday': '9:0-23:0', 'Friday': '9:0-23:0', 'Saturday': '9:0-23:0', 'Sunday': '11:0-20:0'}             1
{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0', 'Wednesday': '11:0-22:0', 'Thursday': '11:0-22:0', 'Friday': '11:0-22:0', 'Saturday': '17:0-22:0'}                              1
{'Tuesday': '9:0-17:0', 'Wednesday': '9:0-15:0', 'Thursday': '9:0-15:0', 'Friday': '9:0-15:0', 'Saturday': '9:0-15:0'}                                                          1
{'Tuesday': '12:0-18:0', 'Wednesday': '12:0-18:0', 'Thursday': '12:0-18:0', 'Friday': '12:0-18:0', 'Saturday': '10:0-18:0'}                                                     1
{'Monday': '10:0-18:0', 'Tuesday': '10:0-18:0', 'Wednesday': '10:0-18:0', 'Thursday': '10:0-20:0', 'Friday': '10:0-18:0', 'Saturday': '10:0-19:0', 'Sunday': '12:0-17:0'}       1
Name: count, Length: 13214, dtype: int64

In [90]:
negocios.isnull().sum()

business_id        0
name               0
address         1001
city               0
state              0
postal_code       12
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
attributes      2769
categories        17
hours           4688
dtype: int64

In [91]:
new_negocios = negocios.drop(columns=["hours", "state", "postal_code", "latitude", "longitude"]) # ?
new_negocios.columns

Index(['business_id', 'name', 'address', 'city', 'stars', 'review_count',
       'is_open', 'attributes', 'categories'],
      dtype='object')

In [97]:
new_negocios["hours"] = True if "Saturday" and "Sunday" in negocios["hours"] else False
new_negocios["hours"].value_counts()

hours
False    30069
Name: count, dtype: int64

In [95]:
train_reviews.shape, new_usuarios.shape, new_negocios.shape

((967784, 9), (699619, 20), (30069, 9))

In [93]:
# Unir datasets: primero, fusionar train_reviews con usuarios
train = pd.merge(train_reviews, new_usuarios, on="user_id", how="left", suffixes=("", "_user"))

# Unir con negocios
train = pd.merge(train, new_negocios, on="business_id", how="left", suffixes=("", "_biz"))

train.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,review_count,yelping_since,useful_user,funny_user,cool_user,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,yelping_year,name,address,city,stars_biz,review_count_biz,is_open,attributes,categories
0,ZZO43qKB-s65zplC8RfJqw,-1BSu2dt_rOAqllw9ZDXtA,smkZq4G1AOm4V6p3id5sww,5.0,0,0,0,Fantastic fresh food. The greek salad is amazi...,2016-09-30 15:49:32,-0.230941,2015.0,-0.070630,-0.046773,-0.053261,-0.092248,4.08,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.028437,-0.026934,-0.038728,-0.038728,-0.042674,-0.016644,2015.0,The Hungry Greek,12950 Race Track Rd,Tampa,4.5,142,1,"{'Caters': 'True', 'NoiseLevel': ""u'average'"",...","Restaurants, Greek"
1,vojXOF_VOgvuKD95gCO8_Q,xpe178ng_gj5X6HgqtOing,96_c_7twb7hYRZ9HHrq01g,1.0,2,0,1,Been a patient at Largo Med/Diagnostic Clinic ...,2020-12-09 14:39:51,-0.050509,2017.0,-0.040699,-0.049962,-0.050997,-0.092248,2.89,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.028437,-0.032377,-0.038728,-0.038728,-0.042674,-0.016644,2017.0,Largo Medical Center,201 14st SW,Largo,2.5,22,1,"{'ByAppointmentOnly': 'True', 'AcceptsInsuranc...","Doctors, Medical Centers, Health & Medical, We..."
2,KwxdbiseRlIRNzpgvyjY0Q,axbaerf2Fk92OB4b9_peVA,e0AYjKfSF0DL-5C1CpOq6Q,4.0,0,0,0,The location is convenient to my campus so I d...,2013-09-04 16:19:51,-0.271949,2013.0,-0.046686,-0.041988,-0.050997,-0.092248,3.75,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.018193,-0.032377,-0.038728,-0.038728,-0.042674,-0.016644,2013.0,Crown Vision Center,4145 Lindell Blvd,Saint Louis,2.5,7,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Eyewear & Opticians, Laser Eye Surgery/Lasik, ..."
3,3mwoBcTy-2gMh0L91uaIeA,_GOiybb0rImYKJfwyxEaGg,vF-uptiQ34pVLHJKzPHUlA,5.0,0,0,0,I agree with all the other compliments posted ...,2019-03-02 12:24:14,0.146327,2015.0,-0.041697,-0.037203,-0.043071,-0.057150,3.79,-0.031897,-0.026385,-0.014603,-0.013422,-0.007925,-0.028437,-0.032377,-0.031667,-0.031667,-0.042674,-0.016644,2015.0,My Greek Corner,"3150 Tampa Rd, Ste 7",Oldsmar,4.5,73,0,"{'GoodForMeal': ""{'dessert': False, 'latenight...","Restaurants, Mediterranean, Greek"
4,XfWf7XsBWs3kYyYq7Ns1ZQ,ojWKg3B5pH3ncAsxun3kUw,X28XK71RuEXPapeyUOwNzg,5.0,10,4,7,"Wanting to help out the local economy, I thoug...",2020-04-23 18:26:29,1.138707,2017.0,0.110951,-0.006900,0.097330,0.118344,4.20,0.004509,0.023091,0.027257,-0.013422,-0.007925,0.022782,-0.005162,0.003635,0.003635,-0.001066,0.003522,2017.0,Pinellas Grill,9711 66th St N,Pinellas Park,4.0,31,1,"{'Music': ""{'dj': False, 'background_music': F...","Bars, Restaurants, Nightlife, American (Tradit..."

In [62]:
train.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'review_count', 'yelping_since', 'useful_user',
       'funny_user', 'cool_user', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos', 'name', 'address', 'city', 'stars_biz',
       'review_count_biz', 'is_open', 'attributes', 'categories'],
      dtype='object')

In [63]:
train.isnull().sum()

review_id                 0
user_id                   0
business_id               0
stars                     0
useful                    0
funny                     0
cool                      0
text                      0
date                      0
review_count              1
yelping_since             1
useful_user               1
funny_user                1
cool_user                 1
fans                      1
average_stars             1
compliment_hot            1
compliment_more           1
compliment_profile        1
compliment_cute           1
compliment_list           1
compliment_note           1
compliment_plain          1
compliment_cool           1
compliment_funny          1
compliment_writer         1
compliment_photos         1
name                      0
address               12503
city                      0
stars_biz                 0
review_count_biz          0
is_open                   0
attributes            26431
categories               70
dtype: int64

In [64]:
train["categories"].value_counts()

categories
Restaurants, Mexican                                                                                                                                   7888
Mexican, Restaurants                                                                                                                                   6444
Live/Raw Food, Seafood, Restaurants, Cajun/Creole                                                                                                      5391
Beauty & Spas, Nail Salons                                                                                                                             4389
Restaurants, Pizza                                                                                                                                     4062
                                                                                                                                                       ...
Specialty Schools, Education, Arts & Entertainment, Art Galleries, Shopping, Community Service/Non-Profit, Art Schools, Art Classes, Local Services       1
Specialty Food, Food, Chocolatiers & Shops, Gelato, Desserts                                                                                              1
Home Services, Carpet Cleaning, Local Services, Dry Cleaning & Laundry, Home Organization, Shades & Blinds, Shutters                                      1
Pets, Animal Shelters, Pet Adoption, Pet Stores                                                                                                           1
Education, Elementary Schools, Religious Organizations, Middle Schools & High Schools                                                                     1
Name: count, Length: 19687, dtype: int64

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967784 entries, 0 to 967783
Data columns (total 43 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   review_id           967784 non-null  object
 1   user_id             967784 non-null  object
 2   business_id         967784 non-null  object
 3   stars               967784 non-null  float64
 4   useful              967784 non-null  int64
 5   funny               967784 non-null  int64
 6   cool                967784 non-null  int64
 7   text                967784 non-null  object
 8   date                967784 non-null  object
 9   name                967767 non-null  object
 10  review_count        967783 non-null  float64
 11  yelping_since       967783 non-null  object
 12  useful_user         967783 non-null  float64
 13  funny_user          967783 non-null  float64
 14  cool_user           967783 non-null  float64
 15  elite               236495 non-null  object
 16  friends             702109 non-null  object
 17  fans                967783 non-null  float64
 18  average_stars       967783 non-null  float64
 19  compliment_hot      967783 non-null  float64
 20  compliment_more     967783 non-null  float64
 21  compliment_profile  967783 non-null  float64
 22  compliment_cute     967783 non-null  float64
 23  compliment_list     967783 non-null  float64
 24  compliment_note     967783 non-null  float64
 25  compliment_plain    967783 non-null  float64
 26  compliment_cool     967783 non-null  float64
 27  compliment_funny    967783 non-null  float64
 28  compliment_writer   967783 non-null  float64
 29  compliment_photos   967783 non-null  float64
 30  name_biz            967784 non-null  object
 31  address             955281 non-null  object
 32  city                967784 non-null  object
 33  state               967784 non-null  object
 34  postal_code         967645 non-null  object
 35  latitude            967784 non-null  float64
 36  longitude           967784 non-null  float64
 37  stars_biz           967784 non-null  float64
 38  review_count_biz    967784 non-null  int64
 39  is_open             967784 non-null  int64
 40  attributes          941353 non-null  object
 41  categories          967714 non-null  object
 42  hours               911544 non-null  object
dtypes: float64(21), int64(5), object(17)
memory usage: 317.5+ MB

In [14]:
train.describe()

,stars,useful,funny,cool,review_count,useful_user,funny_user,cool_user,fans,average_stars,...,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,latitude,longitude,stars_biz,review_count_biz,is_open
count,967784.000000,967784.000000,967784.000000,967784.000000,967783.000000,967783.000000,967783.000000,967783.000000,967783.000000,967783.000000,...,967783.000000,967783.000000,967783.000000,967783.000000,967783.000000,967784.000000,967784.000000,967784.000000,967784.000000,967784.000000
mean,3.759882,1.189631,0.333222,0.496088,123.639416,429.336393,177.149278,291.473799,13.264465,3.745956,...,43.078106,29.928638,29.928638,11.022715,12.699562,35.964196,-89.775824,3.763155,400.841812,0.829615
std,1.479482,3.041815,2.216878,1.971390,366.680679,3237.181587,1989.556472,2766.832549,92.476022,0.864806,...,475.943785,293.731292,293.731292,104.566082,222.244450,5.339954,14.938713,0.764222,868.623137,0.375971
min,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,27.558259,-120.092141,1.000000,5.000000,0.000000
25%,3.000000,0.000000,0.000000,0.000000,7.000000,3.000000,0.000000,0.000000,0.000000,3.390000,...,0.000000,0.000000,0.000000,0.000000,0.000000,29.965366,-90.306811,3.500000,42.000000,1.000000
50%,4.000000,0.000000,0.000000,0.000000,24.000000,18.000000,3.000000,4.000000,0.000000,3.880000,...,0.000000,0.000000,0.000000,0.000000,0.000000,38.602263,-86.323577,4.000000,134.000000,1.000000
75%,5.000000,1.000000,0.000000,0.000000,96.000000,109.000000,24.000000,39.000000,4.000000,4.290000,...,3.000000,3.000000,3.000000,2.000000,1.000000,39.947170,-75.438323,4.500000,367.000000,1.000000
max,5.000000,392.000000,375.000000,205.000000,17473.000000,206296.000000,185823.000000,199878.000000,12497.000000,5.000000,...,101097.000000,49967.000000,49967.000000,15934.000000,82630.000000,53.647207,-74.658572,5.000000,7568.000000,1.000000

In [4]:
# Convertir fechas
train['date'] = pd.to_datetime(train['date'])
train['yelping_since'] = pd.to_datetime(train['yelping_since'], errors='coerce')

# Extraer features temporales de la resea
train['review_year'] = train['date'].dt.year
train['review_month'] = train['date'].dt.month
train['review_dayofweek'] = train['date'].dt.dayofweek

# Calcular la experiencia del usuario en aos
train['user_experience'] = (train['date'] - train['yelping_since']).dt.days / 365.25

# Feature de longitud del review (nmero de palabras)
train['review_length'] = train['text'].apply(lambda x: len(str(x).split()))

FileNotFoundError: [Errno 2] No such file or directory: 'train_reviews.csv'